muuta tän tiedoston nimi .env ja poista tää rivi + laita kaikki alla olevat hommelit oikein

DB_HOST= # localhost jos database on local
DB_USER= # database käyttäjätunnus
DB_PASSWORD= # database käyttäjä salasana
DB_NAME= # database nimi
JWT_SECRET= # joku random iso numero
