DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=restaurant # tai mikälie on darabasen nimi
JWT_SECRET=70600336388221335100005293679600

muuta tän tiedoston nimi .env ja poista tää rivi + vaihda user ja password jos käytät eri käyttäjää