body {
  background-image: url('/koreanfood.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

form {
  font-family: 'Bookman Old Style', serif;
}

button {
  background-color: #ffe4c4;
  color: black;
  border: 2px solid #edb572;
  margin: 2px;
}

button:hover {
  background-color: black;
  color: #ffe4c4;
}

.row {
  display: grid;
  margin: 5%;
}

.banner {
  flex: 100%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  font-family: 'Verdana', serif;
  background-color: #ffe4c4;
  color: black;
  height: 150px;
  border-bottom: #edb572 dotted 2px;
}

.navipalkki {
  flex: 100%;
  margin-left: 15%;
  margin-right: 15%;
  font-family: 'Verdana', serif;
  background-color: #ffe4c4;
  color: black;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
}

.navipalkki a {
  color: black;
  text-decoration: none;
  padding: 10px;
}

.navipalkki a:last-of-type {
  float: right;
}

.navipalkki a:hover {
  background-color: black;
  color: #ffe4c4;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  background-color: black;
  color: #ffe4c4;
}

.column {
  flex: 100%;
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
  height: 100%;
  font-family: 'Verdana', serif;
  background-color: rgba(255, 228, 196, 0.8);
  color: black;
  padding: 5%;
}

hr {
  border: 1px solid #000000;
}

input {
  background-color: #ffe4c4;
  color: black;
  border: 1px solid #edb572;
  margin: 2px;
}

.title {
  background-color: #ffe4c4;
  color: black;
  border: 1px solid #edb572;
  margin: 2px;
  width: 75%;
}

.description {
  width: 75%;
  padding: 5px;
  border: 1px solid #edb572;
  background: #ffe4c4;
  color: #000000;
}

.inline-modal {
  font-family: 'Bookman Old Style';
  background-color: #ffe4c4;
  color: #000000;
  border: #edb572 dotted 2px;
}

.modal {
  background: #ffe4c4;
  color: #000000;
  font-family: 'Verdana';
  position: fixed;
  top: 37%;
  left: 37%;
  width: 25%;
  height: 25%;
  padding: 3%;
  border: 2px, dotted, #edb572;
}

.dropdown {
  background: #ffe4c4;
  color: #000000;
  font-family: 'Verdana';
}

[data-theme='dark'] .row {
  display: grid;
  margin: 5%;
}

[data-theme='dark'] .banner {
  flex: 100%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  font-family: 'Verdana';
  background-color: #000000;
  color: #f0c491;
  height: 150px;
}

[data-theme='dark'] .navipalkki {
  flex: 100%;
  margin-left: 15%;
  margin-right: 15%;
  font-family: 'Verdana';
  background-color: #000000;
  color: #f0c491;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
}

[data-theme='dark'] a {
  color: #f0c491;
  text-decoration: none;
}

[data-theme='dark'] a:hover {
  background-color: #f0c491;
  color: #000000;
}

[data-theme='dark'] .navipalkki a:last-of-type {
  float: right;
}

[data-theme='dark'] .navipalkki a:hover {
  background-color: #f0c491;
  color: #000000;
}

[data-theme='dark'] .column {
  flex: 100%;
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
  height: 100%;
  font-family: 'Verdana';
  background-color: rgba(0, 0, 0, 0.7);
  color: #f0c491;
  padding: 5%;
}

[data-theme='dark'] body {
  background-image: url('/koreanfooddark.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000000;
}

[data-theme='dark'] #haku-btn {
  background-color: #000000;
  color: #f0c491;
  border: 2px solid #f0c491;
}

[data-theme='dark'] #haku-btn:hover {
  background-color: #f0c491;
  color: #000000;
}

[data-theme='dark'] #themeToggle {
  background-color: #000000;
  color: #f0c491;
  float: right;
}

[data-theme='dark'] dialog {
  font-family: 'Verdana';
  background-color: rgba(0, 0, 0, 0.9);
  color: #f0c491;
  border: #f0c491 dotted 2px;
}

[data-theme='dark'] button {
  background-color: #000000;
  color: #f0c491;
  border: 2px solid #f0c491;
}

[data-theme='dark'] button:hover {
  background-color: #f0c491;
  color: #000000;
}

[data-theme='dark'] #cityFilter {
  font-family: 'Verdana';
  background-color: #000000;
  color: #f0c491;
  padding: 5px;
}

[data-theme='dark'] td:hover {
  background-color: #f0c491;
  color: #000000;
}

[data-theme='dark'] form {
  font-family: 'Verdana';
  background-color: #000000;
  color: #f0c491;
}

[data-theme='dark'] input {
  background-color: #000000;
  color: #f0c491;
  border: 1px solid #f0c491;
  margin: 2px;
}

[data-theme='dark'] .title {
  background-color: #000000;
  color: #f0c491;
  border: 1px solid #f0c491;
  margin: 2px;
  width: 75%;
}

[data-theme='dark'] hr {
  border: 1px solid #f0c491;
}

[data-theme='dark'] .description {
  width: 75%;
  padding: 5px;
  border: 1px solid #f0c491;
  background: #000000;
  color: #f0c491;
}

[data-theme='dark'] .inline-modal {
  background: #000000;
  color: #f0c491;
  font-family: 'Verdana';
}

[data-theme='dark'] .modal {
  background: #000000;
  color: #f0c491;
  font-family: 'Verdana';
  position: fixed;
  top: 37%;
  left: 37%;
  width: 25%;
  height: 25%;
  padding: 3%;
  border: 2px, dotted, #f0c491;
}

[data-theme='dark'] .dropdown {
  background: #000000;
  color: #f0c491;
  font-family: 'Verdana';
}
